@keyframes bgc {
    from {background-color: #232057;}
    to { background-color: #df7715;}
  }

.hero{
    
    height: 90vh;
    width:100vw;
    position:relative;
    z-index:999;
    display:flex;
    flex-direction: column-reverse;
    width:100vw;
    /* margin-bottom:150px; */
    /* background-image: url('../images/new399.svg');
    background-repeat: round;
    background-size: contain; */
}


.hero-left{
    height:30%;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    justify-content:center ;
    
    padding-top:30px;
}

.hero-left .name{
    font-size:2rem;
    text-align: left;
    font-weight: 700;
}

.hero-left .my-title{
   
    text-align: left;
}

/* button{
    width:fit-content;
    padding:15px;
    border:none;
    background-color: #232057;
    color:whitesmoke;
    border-radius:5px;
    cursor:pointer;
    font-family : inherit;
} */

.hero-left button:hover{
    animation-name: bgc;
    animation-duration: 1s;
    background-color: #df7715;
    transition: 500ms ease-in-out;
    
}


.hero-right{
    height:70%;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:10px;
    
   
}

.hero-right img{
   
    height: 100%;
    justify-self: center;
    width:100vw;
}

.hero-right span.freepik{
    bottom:0;
    right:0;
    text-align: left;
    /* transform: rotate(270deg); */
    position:absolute;
    width:fit-content;
    height: fit-content;
}

@media only screen and (min-width:600px){
    .hero{
        
        height: 100vh;
        width:100vw;
        position:relative;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        
      
    }

    .hero-right{
        width : 60%;
        height:100%;
        align-items:flex-start;
       
        justify-content:left;
        position:relative;
    }

    .hero-left{
        width:40%;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position:relative;
        margin-left:10vw;
        
        
    }

    .hero-left .name{
        /* width:100%; */
        /* text-align: right; */
        font-size: 4.5vw;
        font-weight: 700;
        text-decoration: wavy;
        width:fit-content;
    }

    

    .hero-right img{
        /* height:90%; */
        width:64vw;
        /* width:100%;
        height:auto; */

        /* height:140%; */
        
        position:absolute;
        left:-12vw;
        top:0vh;
    }
  }

