
#profile{
    /* width:100vw; */
    /* height: fit-content; */
    height: 50vh;
    padding:30px;
    /* background-position-y: 50vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom:0;
    /* border-top:2px solid grey; */
    /* color:white; */
    margin:0;
    gap:15px;
    
}


.iconwrapper{
    font-size: 1.5rem;
    display: flex;
    max-width: 30vw;
    min-width: 20vw;
    justify-content: center;
    gap:20px;
    padding:0 20px;
    
}

.iconwrapper a{
    text-decoration: none;
   /* color:white; */
}

.grouping{
    display: flex;
    max-width: 50vw;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.desc{
    width:50vw;
    
}