.projectCategory{
    text-align: center;
}

.proj-wrapper{
    display:flex;
    flex-direction: column;
    padding-top:20px;
    min-height: 80vh;
    height:fit-content;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
}

.proj-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding:30px;
    row-gap: 50px;
}

.projectitem{
   
    margin:20px;
    overflow: hidden;
    box-shadow:  8px 8px 16px #d3d3d3,
             -8px -8px 16px #ededed;
    border-radius: 5px;         
    display:flex;
    flex-direction: column-reverse;
    height: 90vh;
    width:90vw;
    position:relative;
    z-index:999;
    
}

/* .projectitem:hover{
   
    background-color: black; 
    transition:ease-in-out;
    transition-duration: 1s;
} */

.projectitem .projectDesc{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    font-size: clamp(1.7rem, 3vw + 1rem, 3vw);;
    height:30%;
    padding:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    padding-top:30px;
}

.projectDesc .title{
    font-size:clamp(2.3rem, 4vw + 1rem, 4vw);
}



.projectitem .imgcontainer{
    display:flex;
    align-items: center;
    /* width: 100%; */
    height: 70%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:10px;
    
   
}

.preview{
    
    width:60%;
    /* height: 80%; */
    /* height: 20vw; */
}

.projectitem .preview:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}


@media only screen and (min-width:992px){

    .projectitem{

        flex-direction: row;
        height: 90vh;
        /* margin:20px;
        overflow: hidden;
        box-shadow:  8px 8px 16px #d3d3d3,
                 -8px -8px 16px #ededed;
        border-radius: 5px;         
        display:flex;
        
        width:90vw;
        position:relative;
        z-index:999; */
        
    }

    .projectDesc .title{
        font-size:4vw;
    }

    .projectitem .projectDesc{
        font-size:3vw;
        width:40%;
        height: 100%;
    }

    .projectitem .imgcontainer{
        width:60%;
        height: 100%;
    }
    .preview{
    
        width:70%;
        /* height: 80%; */
        /* height: 20vw; */
    }
}

