.projectCategory{
    text-align: center;
}

.proj-wrapper{
    display:flex;
    flex-direction: column;
    padding-top:20px;
    min-height: 80vh;
    height:fit-content;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
}

.proj-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding:30px;
    row-gap: 50px;
}

.projectitem{
    /* border:1px solid yellow; */
    margin:20px;
    /* padding:10px; */
    
    width: 80vw;
    /* max-width: 564px; */
    height: 90vh;
    overflow: hidden;
    box-shadow:  8px 8px 16px #d3d3d3,
             -8px -8px 16px #ededed;
     border-radius: 5px;         
    /* background-color: #ddc913; */
}



.projectitem .preview{
   
    width:564px;
    
   
}

.projectitem .preview:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}

.projectDesc{
    font-size: 0.7rem;
    line-height: 1px;
    display:block;
    text-align: left;
    
}


