.projectCategory{
    text-align: center;
}

.proj-wrapper{
    display:flex;
    flex-direction: column;
    padding-top:20px;
    min-height: 80vh;
    height:fit-content;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
}

.proj-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding:30px;
    row-gap: 50px;
}

.projectitem{
   
    margin:20px;
    width: 80vw;
    height: 90vh;
    overflow: hidden;
    box-shadow:  8px 8px 16px #d3d3d3,
             -8px -8px 16px #ededed;
     border-radius: 5px;         
    display:flex;
}

.projectitem .projectDesc{
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px;
    row-gap: 10px;
}

.projectDesc .title{
    font-size:4vw;
}

.projectDesc .title{
    font-size:4vw;
}

.projectitem .imgcontainer{
   display:flex;
   justify-content:center;
   align-items: center;
    width:60%;
   
    
   
}

.preview{
    
    width:40vw;
    /* height: 20vw; */
}

.projectitem .preview:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}




