

.quotewrapper{
  height: fit-content;
  min-height: 80vh;
  max-height: max-content;
  display:flex;
  
  justify-content: center;
  /* align-items: center; */
  padding: 50px 0 50px 0;
  box-sizing: border-box;
  position:relative;
  /* margin-bottom:150px; */
}



@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}



.quote{
  font-size: 1.5rem;
  /* max-width: 70vw; */
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  animation-name: example;
  animation-duration: 4s;
 
}

.author{
  font-size: 1.3rem;
  /* color:white; */
  font-family: 'Dancing Script', cursive;
  animation-name: example;
  animation-duration: 6s;
}

.background{
  padding: 20px;
   border-radius: 10px;
  z-index:888;
  height: fit-content;
  
}
 
.quotewrapper::after{
  content:'';
  height: 50%;
  width: 100vw;
  background-image: url('../images/5156621-thin.svg');
  position: absolute;
  background-repeat: repeat-x;
  bottom: 0;
  
}


@media only screen and (min-width:576px){
  .quote{
    font-size: 2.1rem;
    max-width: 70vw;
    /* color:white; */
    text-align: center;
  }
  
  .author{
    font-size:1.9rem;
    /* color:white; */
  }
 
}

@media only screen and (min-width:768px){
  .quote{
    font-size: 2.3rem;
    max-width: 70vw;
    /* color:white; */
    text-align: center;
  }
  
  .author{
    font-size: 2.1rem;
    /* color:white; */
  }
}

@media only screen and (min-width:992px){
  .quote{
    font-size: 2.4rem;
    max-width: 70vw;
    /* color:white; */
    text-align: center;
  }
  
  .author{
    font-size: 2.2rem;
    /* color:white; */
  }

  
}
@media only screen and (min-width:1200px){
  .quote{
    font-size: 2.6rem;
    max-width: 70vw;
    /* color:white; */
    text-align: center;
  }
  
  .author{
    font-size: 2.4rem;
    /* color:white; */
  }
}
@media only screen and (min-width:1400px){
  .quote{
    font-size: 2.8rem;
    max-width: 70vw;
    /* color:white; */
    text-align: center;
  }
  
  .author{
    font-size: 2.6rem;
    /* color:white; */
  }
}