.quotewrapper{
  height: fit-content;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url(../images/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background.jpg); */
  /* background-size: cover; */
  background: rgb(49,46,103);
background: linear-gradient(90deg, rgba(49,46,103,1) 9%, rgba(41,41,187,1) 97%, rgba(133,126,246,1) 100%);
border-radius: 100px 0 100px 0;
box-shadow: 2px 2px 15px gray;
padding: 50px 0 50px 0;
}


.quote{
  font-size: calc(17/375*100vw);
  max-width: 70vw;
  color:white;
  text-align: center;
}

.author{
  font-size: calc(14/375*100vw);
  color:white;
}